
body {
    color: #222;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size: 80%;
    margin: 0;
}
label, .deadline, .finished{
    font-size: smaller;
}
.page{
    background: #eee;
    display: flex;
    flex-flow: column;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 10px;
}
div.schedule{
    display: flex;
    flex-flow: column;
    padding: 6px;
    flex: 2 2;
}
header, footer{
    flex-basis: 3em;
    background: #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    border-radius: 10px 10px 0 0;
}
footer{
    border-radius: 0 0 10px 10px;
}
aside, main{
    padding: 5px;
}
span.importance{
    float: right;
}
.menu{
    flex-basis: 5em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 15px;
}
.menu_row{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-flow: column;
}
article, form{
    border: 1px solid gray;
    border-radius: 4px;
    margin: 5px 0;
    display: flex;
}
form{
    flex-flow: column;
}
.form_row{
    display: flex;
    flex-flow: row;
}
input, textarea{
    width: 100%;
}
input#until{
    width: 120px;
}
div.description,div.bottom{
    padding-top: 4px;
    flex: 4 4;
}
div.bottom{
    display: flex;
    justify-content: flex-end;
}
div.action{
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
}
button.filter, button.sort, button.new, select.style, button.edit, button.submit{
    width: 125px;
    height: 25px;
    border-radius: 6px;
    background: #ccc;
}
button.new{
    color: red;
}
button.submit{
    color: darkred;
    margin: 10px;
}
button.edit{
    width: 40px;
    height: 40px;
    margin: 4px;
}
select.style{
    background: #fff;
    padding: 2px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    color: #000;
}