<form id="note">
    <div class="form_row">
        <div class="schedule"><label>Key</label></div>
        <div class="description">{{key}}</div>
        <div class="action"></div>
    </div><div class="form_row">
    <div class="schedule"><label for="ftitle">Title</label></div>
    <div class="description"><input type="text" id="ftitle" name="title" value="{{$title}}"></div>
    <div class="action"></div>
</div><div class="form_row">
    <div class="schedule"><label for="desc">Beschreibung</label></div>
    <div class="description"><textarea id="desc" rows="4" cols="50" name="description"></textarea></div>
    <div class="action"></div>
</div><div class="form_row">
    <div class="schedule"><label for="import">Wichtigkeit</label></div>
    <div class="description"><input type="text" id="import" name="importance"></div>
    <div class="action"></div>
</div><div class="form_row">
    <div class="schedule"><label for="until">Erledigt bis</label></div>
    <div class="description"><input type="text" id="until" name="deadline"></div>
    <div class="action"></div>
</div><div class="form_row">
    <div class="schedule"></div>
    <div class="bottom"><button class="decide" id="butSave" value="Save">Save</button><button class="decide" id="butCancel" >Cancel</button></div>
    <div class="action"></div>
</div>
</form>